@model HW3PRO.Models.PersonModel

@{
    ViewData["Title"] = "Person information";
}

<h1>PErson information</h1>
<p>Name: @Model.Name</p>
<p>Photo:</p>
<img src="@Model.PhotoUrl" alt="Avatar" />
<p>Number of Group: @Model.GroupNumber</p>
<p>Short info: @Model.ShortInfo</p>